.container {
  padding: 0;
}

.main {
  padding: 32px 0;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 50px;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 32px 0;
  line-height: 1.5;
  font-size: 24px;
}

.code {
  background: #0a0a0a;
  color: #f1f1f1;
  border-radius: 5px;
  padding: 12px;
  margin: 0;
  font-size: 18px;
}

.fingerdown{
  animation-name: fingerdownanim;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  display: inline-block;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 250px;
  margin-right: 100px;
}

@media screen and (max-width: 700px) {
  div.content {
   margin: 0;
  }

  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 32px;
  }
  
  .title,
  .description {
    text-align: left;
  }
  
  .description {
    margin: 32px 0;
    line-height: 1.5;
    font-size: 24px;
  }
  
  .code {
    background: #0a0a0a;
    color: #f1f1f1;
    border-radius: 2px;
  }

}
@media screen and (max-width: 400px) {
  div.content {
    margin: 0;
   }
 
   .title {
     margin: 0;
     line-height: 1.15;
     font-size: 32px;
   }
   
   .title,
   .description {
     text-align: left;
   }
   
   .description {
     margin: 32px 0;
     line-height: 1.5;
     font-size: 24px;
   }
   
   .code {
     background: #0a0a0a;
     color: #f1f1f1;
     border-radius: 2px;
   }
 
 
}


@keyframes fingerdownanim {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(5px);
  }
}


